In [13]:
import os
os.chdir('D:\Downloads\ML')
import pandas as pd
from sklearn import linear_model
df = pd.read_csv('Book1.csv')
df.head()

   area  beds  age   price
0  2600   3.0   20  550000
1  3000   4.0   15  565000
2  3200   NaN   18  610000
3  3600   3.0   30  595000
4  4000   5.0    8  760000

In [8]:
from matplotlib import pyplot as plt
import math
m=math.floor(df.beds.median())
m

3

In [22]:
df.beds=df.beds.fillna(m)
df
reg =linear_model.LinearRegression()
reg.fit(df[['area', 'beds', 'age']], df.price)
reg.coef_
reg.intercept_
reg.predict([[3000,3,20]])

array([580900.])

In [2]:
plt.plot(y,x)
plt.title('line')
plt.xlabel('first')
plt.ylabel('dependent')
plt.show()

NameError: name 'plt' is not defined