In [ ]:
import nltk
import pandas as pd
import numpy as np
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

In [ ]:
url = 'https://raw.githubusercontent.com/MuhammedBuyukkinaci/TensorFlow-Sentiment-Analysis-on-Amazon-Reviews-Data/master/dataset/train_amazon.csv'
amazon_Reviews = pd.read_csv(url)
print(amazon_Reviews)
print(amazon_Reviews.shape)

        label                                               text
0           0  Reference Yes, Learning or Instruction No: I p...
1           0  NO!!!!!!I will give it 1 star.: This doll is n...
2           0  Neat Features/Uncomfortable: I bought this wit...
3           1  Progressive-Underground divas??? where's the v...
4           0  The theif who stole a week.: What a stinker! I...
...       ...                                                ...
149995      0  Dubravka Tomsic never recorded the 14 waltzes!...
149996      1  5 year old loves it.: Good purchase for us. He...
149997      0  Busta should've done better...: As a big Papoo...
149998      1  Really Great Soap but...: This soap lathers wo...
149999      0  Just so so: Compared with the sound sensation ...

[150000 rows x 2 columns]
(150000, 2)

In [ ]:
amazon_Reviews['label'].value_counts()

0    75034
1    74966
Name: label, dtype: int64

In [ ]:
amazon_Reviews.dropna(inplace=True)

In [ ]:
amazon_Reviews.describe()

               label
count  150000.000000
mean        0.499773
std         0.500002
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000

In [ ]:
empty=[]
for i, label, review in amazon_Reviews.itertuples():
  if type(review)==str:
    if review.isspace():
      epmty.append(i)

In [ ]:
amazon_Reviews.drop(empty, inplace=True)

In [ ]:
amazon_Reviews['text'].value_counts()

RICHNESS OF AMERICAN HISTORY!: i only wished i could have known about this "GREAT BOOK" back in H.S! The RICHNESS OF THE AMERICAN CULTURE IS ONE THAT EVERY YOUN WOMEN & MEN SHOULD HAVE KNOWLEDGE OF! Things were FOUGHT HARD W/BLOOD & SWEAT TO BE WHERE THIS NATION IS! Every young life will benefit GREATLY FROM THE GREAT FOUNDATION THE CONSTITUTION WAS BUILT UPON! We as American Citizens have lost SO MUCH DO TO THE LACK OF DESIRE TO TEACH OUR CHILDREN THIS WONDERFUL VALUES!!! It will most DEFINETLY HELP SHAPE THE LIVES OF YOUNG PEOPLE! Teach that things are CONQUERED THROUGH HARD WORK! AND GREAT DESIRE TO BECOME THE BEST THAT ONE CAN! NOT A SOCIETY OF YOUNG PEOPLE THAT THINK THEY ARE "ENTITLED" TO EVERY BENEFIT OF OTHER PEOPLE'S HARD LABOR!!!    1
Voice of an Angel!: One of the most beautiful angelic voice in the world! But I don't think this collection shows her best recording pieces.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Questionable product?: I have purchased 2 of these products recently and both have failed within 2 months. Sure Amazon and Maxtor have replaced the units but I have had to pay the shipping and have had the trouble to be without them for several weeks. Cannot Maxtor do better than this? I think I will recosider before buying another Maxtor product. I guess that I just assumed that all Maxtor products were top quality but I was wrong. Please do your research better than I did.                                                                                                                                                                                                                                                                                  1
Great Documentary: Beautiful documentary of the life of Marian Anderson, who lived a life of faith. This is not a DVD of her songs but of her life as a Christian woman who met discrimination, trials and success with grace and dignity. This is a great DVD if you are not familiar with the life of Marian Anderson and how she used her voice to bridge the gap of blacks and whites.                                                                                                                                                                                                                                                                                                                                                                                       1
More of a Bean Cracker Rather than Grinder: I bought this grinder about a year ago. Frustrating to use on several facets of function:1.) Even on the Extra Fine Espresso grind selection the grounds are only suitable for use in a French press.2.) Have to shake the unit in order for the beans to feed into the grinder.3.) Grounds are tough to get out of the catch vessel of the grinder.4.) Noisy.                                                                                                                                                                                                                                                                                                                                                                       1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                ..
My first: This was one of the first romance books I can remember reading when I was younger. It got me hooked on not only Garwood's books, but romance and anything about Highlanders.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
You have planted your garden; now what?: Janet Macunovich has provided a very detailed account of what to do after you have planted your perennial garden. It is very informative as we follow her tending an actual perennial garden; a great concept. Mistakes and all, we see the problems, challenges, and joys of perennial gardening the way most of us do it. From early spring cleanup, to plant division, to weeding, plant choice and more, this is an excellent book for those who have a perennial garden, or those who are considering one. No punches pulled; highly recommended. Why four stars? I live in Arizona; if the book was written for desert gardens, five stars. (I know, I know...)Bob Burke                                                          1
This will get you through an Alaska winter: I live in Fairbanks, AK, where it frequently gets to 40 degrees below zero. I prefer cold temperatures so the average person would get more use out of this than me. There were only a handful of days where it got cold enough for me to use this jacket. The zipper pull is large enough that you can easily use the zipper with gloves on.FYI to anyone considering purchasing it... This is an OUTER LAYER. If you are normally a size Large and wear a Large jacket with just a long sleeved t-shirt, it will feel way too big.                                                                                                                                                                                                 1
Disguised as Truth: The most damaging sins evolve from truth mixed with untruth. Mr. Bell has masterfully woven these half-truths into a book that sounds true but leaves a lingering doubt in the mind. This is the essence of false statements and unfortunately leads people awry. My hope is that people are given the wisdom from Him to discern the facts from fiction.                                                                                                                                                                                                                                                                                                                                                                                                    1
trashy and vulgar: not sensual at all, vulgar and trashy. I was looking for slow sensual music for massage or background for love making, but this is rather distracting, imaturely provocative and most embarrassing. Not my type of music (if you call it music at all)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Name: text, Length: 150000, dtype: int64

In [ ]:
sia.polarity_scores(amazon_Reviews.loc[0]['text'])

{'compound': 0.5106, 'neg': 0.021, 'neu': 0.902, 'pos': 0.077}

In [ ]:
amazon_Reviews.loc[0]['text']

'Reference Yes, Learning or Instruction No: I purchased this book because the customer reviews were fairly positive. But this book is a lot like going on a scavenger hunt. Information is scattered throughout and it is your job to find it. For example, the term "threads" is referred to quite often early on but they don\'t define this term until midway through the book. I found myself jumping all over the place for either a definition or explanation.'

In [ ]:
amazon_Reviews['scores']=amazon_Reviews['text'].apply(lambda review: sia.polarity_scores(review))
amazon_Reviews.head()

   label  ...                                             scores
0      0  ...  {'neg': 0.021, 'neu': 0.902, 'pos': 0.077, 'co...
1      0  ...  {'neg': 0.0, 'neu': 0.913, 'pos': 0.087, 'comp...
2      0  ...  {'neg': 0.044, 'neu': 0.775, 'pos': 0.181, 'co...
3      1  ...  {'neg': 0.098, 'neu': 0.73, 'pos': 0.172, 'com...
4      0  ...  {'neg': 0.027, 'neu': 0.737, 'pos': 0.236, 'co...

[5 rows x 3 columns]

In [ ]:
amazon_Reviews['compound']=amazon_Reviews['scores'].apply(lambda scores_dict: scores_dict['compound'])
amazon_Reviews.head()

   label  ... compound
0      0  ...   0.5106
1      0  ...   0.3544
2      0  ...   0.9674
3      1  ...   0.9306
4      0  ...   0.9896

[5 rows x 4 columns]

In [ ]:
amazon_Reviews['compound_score in P/N']=amazon_Reviews['compound'].apply(lambda c: 'pos' if c>=0 else 'neg')
amazon_Reviews.head()

   label  ... compound_score in P/N
0      0  ...                   pos
1      0  ...                   pos
2      0  ...                   pos
3      1  ...                   pos
4      0  ...                   pos

[5 rows x 5 columns]

In [ ]:
amazon_Reviews['compound_score'] = amazon_Reviews['compound_score in P/N'].apply(lambda x: 0 if x=='neg' else 1)
amazon_Reviews.head(20)

    label  ... compound_score
0       0  ...              1
1       0  ...              1
2       0  ...              1
3       1  ...              1
4       0  ...              1
5       0  ...              1
6       1  ...              1
7       1  ...              1
8       0  ...              0
9       1  ...              1
10      0  ...              1
11      1  ...              1
12      1  ...              1
13      1  ...              1
14      1  ...              1
15      0  ...              1
16      0  ...              0
17      0  ...              0
18      0  ...              1
19      0  ...              1

[20 rows x 6 columns]

In [ ]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
accuracy_score(amazon_Reviews['label'], amazon_Reviews['compound_score'])

0.71034

In [ ]:
classification_report(amazon_Reviews['label'], amazon_Reviews['compound_score'])

'              precision    recall  f1-score   support\n\n           0       0.87      0.49      0.63     75034\n           1       0.65      0.93      0.76     74966\n\n    accuracy                           0.71    150000\n   macro avg       0.76      0.71      0.70    150000\nweighted avg       0.76      0.71      0.70    150000\n'

In [ ]:
confusion_matrix(amazon_Reviews['label'], amazon_Reviews['compound_score'])

array([[36885, 38149],
       [ 5300, 69666]])

In [ ]:
#Thanks