In [12]:
import pandas
from sklearn.svm import SVC
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

url ="file:///D:/Downloads/german.data-numeric"

names = ['A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8',
'A9', 'A10', 'A11', 'A12', 'A13', 'A14', 'A15', 'A16',
'A17', 'A18', 'A19', 'A20', 'A21', 'A22', 'A23', 'A24',
'class']
dataset = pandas.read_csv(url, names=names,
delim_whitespace=True)
print(dataset.shape)
print(dataset.head(20))
print(dataset.describe())
print(dataset.groupby('class').size())
array = dataset.values
X = array[:,0:-1]
Y = array[:,-1]
validation_size = 0.20
seed = 7

X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(X, Y,
test_size=validation_size, random_state=seed)
cart = SVC(class_weight={1: 1, 2: 1})
cart.fit(X_train, Y_train)
prediction = cart.predict(X_validation)

(1000, 25)
    A1  A2  A3   A4  A5  A6  A7  A8  A9  A10  ...  A16  A17  A18  A19  A20  \
0    1   6   4   12   5   5   3   4   1   67  ...    0    0    1    0    0
1    2  48   2   60   1   3   2   2   1   22  ...    0    0    1    0    0
2    4  12   4   21   1   4   3   3   1   49  ...    0    0    1    0    0
3    1  42   2   79   1   4   3   4   2   45  ...    0    0    0    0    0
4    1  24   3   49   1   3   3   4   4   53  ...    1    0    1    0    0
5    4  36   2   91   5   3   3   4   4   35  ...    0    0    1    0    0
6    4  24   2   28   3   5   3   4   2   53  ...    0    0    1    0    0
7    2  36   2   69   1   3   3   2   3   35  ...    0    1    1    0    1
8    4  12   2   31   4   4   1   4   1   61  ...    0    0    1    0    0
9    2  30   4   52   1   1   4   2   3   28  ...    1    0    1    0    0
10   2  12   2   13   1   2   2   1   3   25  ...    1    0    1    0    1
11   1  48   2   43   1   2   2   4   2   24  ...    0    0    1    0    1
12   2  12   2   16   1   3   2   1   3   22  ...    0    0    1    0    0
13   1  24   4   12   1   5   3   4   3   60  ...    1    0    1    0    0
14   1  15   2   14   1   3   2   4   3   28  ...    1    0    1    0    1
15   1  24   2   13   2   3   2   2   3   32  ...    0    0    1    0    0
16   4  24   4   24   5   5   3   4   2   53  ...    0    0    1    0    0
17   1  30   0   81   5   2   3   3   3   25  ...    0    0    1    0    0
18   2  24   2  126   1   5   2   2   4   44  ...    0    1    1    0    0
19   4  24   2   34   3   5   3   2   3   31  ...    0    0    1    0    0

    A21  A22  A23  A24  class
0     1    0    0    1      1
1     1    0    0    1      2
2     1    0    1    0      1
3     0    0    0    1      1
4     0    0    0    1      2
5     0    0    1    0      1
6     1    0    0    1      1
7     0    0    0    0      1
8     1    0    1    0      1
9     1    0    0    0      2
10    0    0    0    1      2
11    0    0    0    1      2
12    1    0    0    1      1
13    1    0    1    0      2
14    0    0    0    1      1
15    1    0    1    0      2
16    1    0    0    1      1
17    1    0    0    1      1
18    0    0    0    0      2
19    1    0    0    1      1

[20 rows x 25 columns]
                A1           A2          A3           A4           A5  \
count  1000.000000  1000.000000  1000.00000  1000.000000  1000.000000
mean      2.577000    20.903000     2.54500    32.711000     2.105000
std       1.257638    12.058814     1.08312    28.252605     1.580023
min       1.000000     4.000000     0.00000     2.000000     1.000000
25%       1.000000    12.000000     2.00000    14.000000     1.000000
50%       2.000000    18.000000     2.00000    23.000000     1.000000
75%       4.000000    24.000000     4.00000    40.000000     3.000000
max       4.000000    72.000000     4.00000   184.000000     5.000000

                A6          A7           A8           A9          A10  ...  \
count  1000.000000  1000.00000  1000.000000  1000.000000  1000.000000  ...
mean      3.384000     2.68200     2.845000     2.358000    35.546000  ...
std       1.208306     0.70808     1.103718     1.050209    11.375469  ...
min       1.000000     1.00000     1.000000     1.000000    19.000000  ...
25%       3.000000     2.00000     2.000000     1.000000    27.000000  ...
50%       3.000000     3.00000     3.000000     2.000000    33.000000  ...
75%       5.000000     3.00000     4.000000     3.000000    42.000000  ...
max       5.000000     4.00000     4.000000     4.000000    75.000000  ...

               A16          A17          A18          A19          A20  \
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.234000     0.103000     0.907000     0.041000     0.179000
std       0.423584     0.304111     0.290578     0.198389     0.383544
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     1.000000     0.000000     0.000000
50%       0.000000     0.000000     1.000000     0.000000     0.000000
75%       0.000000     0.000000     1.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

               A21          A22        A23          A24        class
count  1000.000000  1000.000000  1000.0000  1000.000000  1000.000000
mean      0.713000     0.022000     0.2000     0.630000     1.300000
std       0.452588     0.146757     0.4002     0.483046     0.458487
min       0.000000     0.000000     0.0000     0.000000     1.000000
25%       0.000000     0.000000     0.0000     0.000000     1.000000
50%       1.000000     0.000000     0.0000     1.000000     1.000000
75%       1.000000     0.000000     0.0000     1.000000     2.000000
max       1.000000     1.000000     1.0000     1.000000     2.000000

[8 rows x 25 columns]
class
1    700
2    300
dtype: int64

In [13]:
print(prediction)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1
 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1]

In [14]:
print(accuracy_score(Y_validation, prediction))

0.745

In [15]:
print(confusion_matrix(Y_validation, prediction))

[[146   3]
 [ 48   3]]

In [7]:

print(classification_report(Y_validation, prediction))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00       149
           2       0.26      1.00      0.41        51

    accuracy                           0.26       200
   macro avg       0.13      0.50      0.20       200
weighted avg       0.07      0.26      0.10       200

C:\Users\Mukesh\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [16]:
print(Y_validation)

[1 2 1 1 1 1 2 1 1 2 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 2
 1 2 1 1 1 1 1 2 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 2 2 1 1 1 1 1 1 2 1 1 1 1 1
 1 1 1 1 2 2 2 1 1 2 1 2 1 2 1 2 1 1 1 1 1 1 1 2 1 2 1 1 2 1 1 1 1 2 2 1 1
 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 2 1 1 1 1 1 1 2 1 2 2 1 1 1 1 1 2 1 1 1 1
 1 2 1 2 1 1 2 2 1 1 1 2 2 1 1 2 2 2 2 1 1 2 1 1 1 2 1 1 1 2 1 1 1 1 2 1 1
 2 1 1 2 1 1 1 1 1 2 1 1 1 2 1]

In [17]:
Y_validation

array([1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1,
       2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 1, 1, 2, 1, 2, 1, 2,
       1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 2, 1, 1, 1, 1, 2, 2, 1,
       1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1,
       1, 1, 2, 1, 2, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1,
       2, 2, 1, 1, 1, 2, 2, 1, 1, 2, 2, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 1,
       1, 2, 1, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 1, 1, 1, 1, 2, 1, 1, 1,
       2, 1], dtype=int64)

In [18]:
Y_test

NameError: name 'Y_test' is not defined